# Packages/installer info
dist

#Compiled files
__pycache__

#Testing files
# *.ipynb
*.fits
*.html
*.x3d
test_*.ipynb
muse_*

# Read the docs
*.pyc
*.pyo
*.swp
*.doctree
.DS_Store
docs/build/*
!docs/build/html/
